# Python.
__pycache__/
*.py[cod]
*$py.class

# Project.
.env

# Vim.
*.swp

# VS Code.
.vscode

# Coverage.py
.coverage
.coveragerc
htmlcov/

# node.
.DS_Store
node_modules/
/dist/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Nuxt build
.nuxt

# Nuxt generate
dist
